/****************MENU****************/
.menu-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 9999;
}

.menu-out-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.close-button {
  position: absolute;
  height: 70px;
  width: 70px;
  font-size: 70px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border: none; 
  background-color:#3A9635; 
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.registrer {
  position: absolute;
  top: 20px;
  left: 20px;
  padding-bottom: 5px;
  border-bottom: black dotted 3px;
}

.menu-out-box ul {
  list-style-type: none;
}

.menu-out-box li {
  cursor: pointer;
  font-size: 70px;
  padding-bottom: 5px;
  border-bottom: black dotted 1px;
}



/****************PAGE1****************/
.frontPage {
  max-height: 100vh;
  background-color: #06504A;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.out_frontpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-right: 10px;
  padding-left: 10px;
}

.menu_box {
  z-index: 101;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  top: 30px;
  height: 60px;
  width: 210px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.hamburger {
  display: flex;
  object-fit: contain;
  width: 20%;
  padding-left: 15px;
  margin-right: auto;
}


.menu_text {
  font-weight: 100;
  display: flex;
  font-size: 30px;
  margin-right: auto;
}

.picture_frontpage {
  margin-top: 15px;
  align-self: center;
  max-height: 100vh;
  max-width: 92vw;
  object-fit: contain;
}

.bottom_text_box {
  margin-bottom: auto;
}

.picture_text {
  font-size: 30px;
  font-weight: 100;
  color: #F3F0DD;
  text-align: center;
  margin-top: -10%;
}


.bottom_text {
  font-size: 30px;
  font-weight: 100;
  color: #F3F0DD;
  text-align: center;
}

/****************PAGE2****************/

.formPage {
  max-height: 100vh;
  height: 100vh;
  background-color: #06504A;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px red solid;
}

.page {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.rsvp-card {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.form-group input {
  max-width: 50%;
  height: 30px;
  margin-top: 7px;
  border-radius: 7px;
}

.form-label {
  color: #F3F0DD;
  font-weight: 100;
  font-size: 30px;
}

.radio-group {
  display: flex;
  flex-direction: row;
}

.radio-label {
  color: #F3F0DD;
  font-weight: 100;
  font-size: 20px;
}

.formPage p {
  color: #F3F0DD;
  font-weight: 100;
  font-size: 20px;

}

input {
  outline: none;
  border: none;
}

.btn-primary {
  background-color: #50060C;
  outline: none;
  border: none;
  color: #F3F0DD;
  font-weight: 100;
  font-size: 20px;
  border-radius: 7px;
  margin-right: 10px;
  margin-top: 20px;
  margin-left: auto;
  height: 50px;
  width: 200px;
}

/****************PAGE3****************/

.info-page {
  background-color: #06504A;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px blue solid;
  color: #F3F0DD;
}


.info-page-holder {
  margin-left: 5%;
  margin-right: 5%;
}


.kirke {
  max-width: 100%;
  height: auto;
}

.tors {
  max-width: 100%;
  height: auto;
}

.map_img_1 {
  max-width: 45%;
  height: auto;
  margin-right: auto;
}

.map_img_2 {
  max-width: 45%;
  height: auto;
  margin-left: auto;
}

.dual-image {
  gap: 5%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

table, th, td {
  border: 1px solid #F3F0DD;
}