/****************PAGE1****************/
.frontPage {
  max-height: 100vh;
  background-color: #06504A;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.out_frontpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-right: 10px;
  padding-left: 10px;
}

.menu_box {
  z-index: 101;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  top: 30px;
  height: 60px;
  width: 210px;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.hamburger {
  display: flex;
  object-fit: contain;
  width: 20%;
  padding-left: 15px;
  margin-right: auto;
}

.menu_text {
  font-weight: 100;
  display: flex;
  font-size: 30px;
  margin-right: auto;
}

.picture_frontpage {
  margin-top: 15px;
  align-self: center;
  max-height: 100vh;
  max-width: 92vw;
  object-fit: contain;
  border: 1px solid red;
}

.bottom_text_box {
  margin-bottom: auto;
}

.bottom_text {
  font-size: 30px;
  font-weight: 100;
  color: #F3F0DD;
  text-align: center;
}

/****************PAGE2****************/

.formPage {
  max-height: 100vh;
  height: 100vh;
  background-color: #06504A;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px red solid;
}